venv
env
.venv
node_modules
dist
build
*.egg-info
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pid
*.swp
*.bak
*.tmp
*.DS_Store
*.idea
*.vscode
*.env
*.env.*
*.coverage
.coverage.*
*.mypy_cache
.mypy_cache/
*.pytest_cache